{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Customer list</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Main_Taste</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.maintaste }}</td>
                <td>{{ product.price}}</td>
                <td>{{ product.quantity}}</td>
                <td>
                    <a href="{{ path('app_product_details', {'id': product.id}) }} " class='btn btn-success'>View</a>
                    <a class="btn btn-warning" href="{{ path('app_product_edit', {'id': product.id}) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('app_product_delete', {'id': product.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
