{% extends 'base.html.twig' %}

{% block title %}Hello CartDetailController!{% endblock %}

{% block body %}
    <h1>Cart Detail list</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Quantity</th>
            <th scope="col">Discount</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cartDetail in cartDetails %}
            <tr>
                <td>{{ cartDetail.id }}</td>
                <td>{{ cartDetail.quantity }}</td>
                <td>{{ cartDetail.discount }}</td>
                <td>
                    <a href="{{ path('app_cart_detail_details', {'id': cartDetail.id}) }} " class='btn btn-success'>View</a>
{#                    <a class="btn btn-warning" href="{{ path('app_customer_edit', {'id': customer.id}) }}">Edit</a>#}
{#                    <a class="btn btn-danger" href="{{ path('app_customer_delete', {'id': customer.id}) }}">Delete</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
